body {
	background-color: #F2F3F4;
}

.name {
	font-family: 'Lobster', cursive; 
	font-size: 25px;
}

.title {
	font-family: 'Roboto', sans-serif;
}

.row {
	margin-bottom:2em;
}

.modal-content, .card {
	border: 3px solid #FFEF3A;
}